*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:10px;
}
.head{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   background-color: #1C3879;
   padding:1rem 2rem;
}
.head .profile{
    text-align: center;
}
.head img{
    width:5rem;
    height:5rem;
    border-radius: 50%;
}
.head .img{
    position: relative;
}
.head .img .camera{
    position:absolute;
    left:50%;
    bottom:10%;
    transform: translateX(-50%);
    font-size: 1rem;
    transition: 0.2s linear;
}
.head .img .camera:hover{
    cursor: pointer;
    font-size: 2rem;
    color:blue;
}
.head p{
    font-size:2rem;
    color:orange;
}
.head ul{
    display: flex;
}
.head ul li{
    list-style-type: none;
    padding:1rem;
    width:fit-content;
    position:relative;
}

.head ul li a{
    color:red;
    font-size:2rem;
    text-decoration: none;
}
.head ul li a:hover{
    color:white;
}
.head ul li a:hover::before{
    content: "";
    width:50%;
    height:0.3rem;
    background-color: blueviolet;
    position:absolute;
    left:5%;
    bottom:10%;
}