<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account created</title>
    <style>
        body{
            background-color: blue;
        }
        html{
            font-size:10px;
        }
        .info{
            margin-top:5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:1rem;
        }
        .info h2{
            font-size:5rem;
            color:white;
        }
    </style>
</head>
<body>
    <%- include("./partials/successhead") %>
    <div class="info">
        <h2>Password changed successfully</h2>
    </div>
</body>
</html>