<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/mainhead.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Menu Head</title>
    <style>
        .head{
            position: relative;
        }
        .heading{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            display: flex;
            align-items: center;
            gap:1rem;
        }
        h1{
            color:white;
            font-size:4rem;
        }
    </style>
</head>
<body>
    <section class="head">
        <div class="profile">
            <div class="img">
                <img src="../../image/profile.jpg">
                <a href="#"><i class="fa-solid fa-camera camera"></i></a>  
            </div>
            <p><%= records.name %></p>
        </div>
        <div class="heading">
            <img src="../image/logo.png" alt="logo">
        <h1>Welcome To Grip Bank</h1>
        <img src="../image/logo.png" alt="logo">
        </div>
      <ul>
        <li>
            <a href="/signout"><i class="fa-solid fa-arrow-right-from-bracket"></i><span style="margin-left:5px;">Sign Out</span></a>
        </li>
      </ul>
    </section>
</body>
</html>